<img src="https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/main/media/logo/newebac_logo_black_half.png" alt="ebac-logo">

---

# **Módulo** | Python: Variáveis & Tipos de Dados
Caderno de **Exercícios**<br> 
Professor [André Perez](https://www.linkedin.com/in/andremarcosperez/)

---

# **Tópicos**

<ol type="1">
  <li>Introdução ao Google Colab;</li>
  <li>Variáveis;</li>
  <li>Números;</li>
  <li><i>Strings;</i></li>
  <li>Boleanos.</li>
</ol>

---

# **Exercícios**

## 1\. Google Colab

Crie uma célula de código que escreva o texto "Olá mundo!", utilize o comando `print`.

In [ ]:
print('Olá, Mundo!')

Olá, Mundo

Crie uma célua de texto e adicione uma imagem.

Aluna: **Andréa Cristina Biavatti**

![Design sem nome (27).png]()

---

## 2\. Números

Preencha as células de código para preencher os valores de (A), (B) e (C) na tabela de ticket médio abaixo:

<br>

| Dia   | Valor Total Vendas | Qtd Total Vendas | Ticket Medio |
|-------|--------------------|------------------|--------------|
| 19/01 | (A)                | 3                | 320.52       |
| 20/01 | 834.47             | (B)              | 119.21       |
| 23/01 | 15378.12           | 5                | (C)          |

In [8]:
# (A)
qtide_vendas = 3
ticket_medio = 320.52
vlr_tot_vendas = qtide_vendas * ticket_medio

print(f'O valor de (A) é R$ {vlr_tot_vendas}')

O valor de (A) é R$ 961.56

In [9]:
# (B)
vlr_tot_vendas = 834.47
ticket_medio = 119.21
qtide_vendas = int(vlr_tot_vendas / ticket_medio)

print(f'O valor de (B) é {qtide_vendas}.')

O valor de (B) é 7.

In [16]:
# (C)
vlr_tot_vendas = 15378.12
qtide_vendas = 5
ticket_medio = (vlr_tot_vendas / qtide_vendas)

print(f'O valor de (C) é R$ {ticket_medio:.2f}')

O valor de (C) é R$ 3075.62

---

## 3\. Strings

Aplique três métodos distintos na *string* abaixo, você pode conferir alguns métodos neste [link](https://www.w3schools.com/python/python_ref_string.asp):

In [22]:
cancao = 'Roda mundo, roda gigante, roda moinho, roda pião.'
print(cancao.upper())

posicao = cancao.find('roda gigante')
print(posicao)

print(cancao.replace('roda', ''))

RODA MUNDO, RODA GIGANTE, RODA MOINHO, RODA PIÃO.
12
Roda mundo,  gigante,  moinho,  pião.

Extraia da string abaixo o valor da taxa **selic** na variável `selic` e o valor do **ano** na variavel `ano`. Imprima os valores na tela.

In [37]:
noticia = 'Selic vai a 2,75% e supera expectativas; é a primeira alta em 6 anos.'
selic = str(noticia[12:17])
ano = int(noticia[-7])

print(f'O valor da taxa selic é {selic}.')
print(f'O valor do ano é {ano}.')

O valor da taxa selic é 2,75%.
O valor do ano é 6.

---

## 4\. Booleanos

Utilize a tabela da verdade para responder: qual o valor da variável x?

In [38]:
a = False
b = True

x = not a & b
print(x)

True