<img src="https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/main/media/logo/newebac_logo_black_half.png" alt="ebac-logo">

---

# **Módulo** | Análise de Dados: Coleta de Dados I
Caderno de **Exercícios**<br> 
Professor [André Perez](https://www.linkedin.com/in/andremarcosperez/)

---

# **Tópicos**

<ol type="1">
  <li>Arquivos CSV;</li>
  <li>Arquivos Texto;</li>
  <li>Arquivos Excel.</li>
</ol>

---

# **Exercícios**

## 0\. Preparando o ambiente

Vamos explorar dados de crédito presentes no arquivo `credito.xlsx` ([link](https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/develop/dataset/credito.xlsx)). Os dados estão no formato de **Excel** (XLSX) e contém informações sobre clientes de uma instituição financeira. Em especial, estamos interessados em explicar a segunda coluna, chamada de **default**, que indica se um cliente é adimplente (`default = 0`), ou inadimplente (`default = 1`), ou seja, queremos entender o porque um cliente deixa de honrar com suas dívidas baseado no comportamento de outros atributos, como salário, escolaridade e movimentação financeira. Uma descrição completa dos atributos está abaixo.



| Coluna  | Descrição |
| ------- | --------- |
| id      | Número da conta |
| default | Indica se o cliente é adimplente (0) ou inadimplente (1) |
| idade   | --- |
| sexo    | --- |
| depedentes | --- |
| escolaridade | --- |
| estado_civil | --- |
| salario_anual | Faixa do salario mensal multiplicado por 12 |
| tipo_cartao | Categoria do cartao: blue, silver, gold e platinium |
| meses_de_relacionamento | Quantidade de meses desde a abertura da conta |
| qtd_produtos | Quantidade de produtos contratados |
| iteracoes_12m | Quantidade de iteracoes com o cliente no último ano |
| meses_inatico_12m | Quantidade de meses que o cliente ficou inativo no último ano |
| limite_credito | Valor do limite do cartão de crédito |
| valor_transacoes_12m | Soma total do valor das transações no cartão de crédito no último ano |
| qtd_transacoes_12m | Quantidade total de transações no cartão de crédito no último ano |

Faça o download do arquivo `credito.xlsx` com a célula de código abaixo.

In [1]:
!wget --show-progress --continue -O ./credito.xlsx https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/main/dataset/credito.xlsx

--2022-08-23 21:00:44--  https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/main/dataset/credito.xlsx
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 748185 (731K) [application/octet-stream]
Saving to: ‘./credito.xlsx’

./credito.xlsx      100%[===================>] 730.65K  --.-KB/s    in 0.03s

2022-08-23 21:00:44 (22.7 MB/s) - ‘./credito.xlsx’ saved [748185/748185]

---

## 1\. Excel para CSV

Utilizando o pacote Python `openpyxl` visto em aula, extraia os seguintes as colunas `id`, `sexo` e `idade` para dos clientes inadimplentes (`default = 1`) e solteiros (`estado_civil = 'solteiro'`). Salves os dados extraídos no arquivo csv `credito.csv` separado por `;`. Exemplo do cabeçalho e das três primeiras linhas:

```
id;sexo;idade
767712558;59;M
713741358;46;M
772390908;59;M
```

**Dica:** O arquivo csv `credito.csv` deve ter 669 linhas, contando com o cabeçalho.

**Nota:** Escreva o código da sua solução abaixo em uma ou mais células, você não precisa enviar o arquivo csv gerado.

In [2]:
# solução do exercício 1
!pip install openpyxl

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: openpyxl in /usr/local/lib/python3.7/dist-packages (3.0.10)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl) (1.1.0)

In [3]:
import openpyxl 
import csv 
import pandas as pd 
planilhas = openpyxl.load_workbook("credito.xlsx") 
planilha = planilhas.active
colunas = csv.writer(open("credito.csv", 'w', newline="")) 

for linha in planilha.rows:
  colunas.writerow([cell.value for cell in linha]) 

df = pd.DataFrame(pd.read_csv("credito.csv")) 
df_filtrado = df.loc[df['default']==1][df['estado_civil']=='solteiro']
df_selecao = df_filtrado[['id', 'sexo', 'idade']]
df_selecao.reset_index(drop=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if sys.path[0] == '':

            id sexo  idade
0    767712558    M     59
1    713741358    M     46
2    772390908    M     59
3    719211558    M     45
4    709547658    M     39
..         ...  ...    ...
654  714945708    M     33
655  718840833    M     49
656  709566408    F     40
657  789497283    M     50
658  714677583    F     50

[659 rows x 3 columns]

---

## 2\. Excel para JSON

Como preparação para o próximo módulo, vamos trabalhar com o JSON, um formato semi-estruturado, muito utilizado em transmissão de dados da web e equivalente a um **dicionário** Python.

Utilizando o pacote Python `openpyxl` visto em aula, extraia os dados das colunas `escolaridade` e `tipo_cartao`, removendo duplicados. Com os dados, construa o dicionário Python `credito` com a seguinte estrutura:

```python
credito = {
  'tipo_cartao': ['silver', 'blue', 'gold', 'platinum'],
  'escolaridade': ['doutorado', 'mestrado', 'na', 'sem educacao formal', 'graduacao', 'ensino medio']
}
```

Para finalizar, utilize o código abaixo para converter o dicionário `credito` no formato JSON:

```python
import json

credito_json = json.dumps(credito, indent=4)
print(credito_json)
```

**Dica:** Sua solução deve gerar o dicionário Python `credito` igual ao exemplo mas a ordem dos elementos pode variar tranquilamente.

**Dica:** Uma excelente forma de remover elementos duplicados de uma lista é convertê-la para `set` e depois para `list` novamente.

In [4]:
# solução do exercício 2
df_credito = df[['tipo_cartao', 'escolaridade']]
tipo_cartao = list(set(df_credito['tipo_cartao']))
escolaridade = list(set(df_credito['escolaridade']))
credito = {'escolaridade':  escolaridade, 'tipo_cartao': tipo_cartao}

In [5]:
import json
credito_json = json.dumps(credito, indent=4)
print(credito_json)

{
    "escolaridade": [
        "sem educacao formal",
        "ensino medio",
        "na",
        "doutorado",
        "graduacao",
        "mestrado"
    ],
    "tipo_cartao": [
        "gold",
        "platinum",
        "silver",
        "blue"
    ]
}

---

## 3\. BÔNUS: Texto para CSV

No arquivo de texto `ebac.txt` você encontra o texto presente no rodapé da página de cursos da EBAC ([link](https://ebaconline.com.br/)).

**Arquivo TXT:** ebac.txt

In [6]:
%%writefile ebac.txt
MÍDIAS SOCIAIS
Instagram, Facebook, Youtube, LinkedIn 

CURSOS
Software, Design, Marketing, Audiovisual, Programação & Data, Games

WEBINARS
Próximos, Anteriores

SOBRE
Sobre nós, Centro de carreiras, Vagas

CONTATO
WhatsApp +55 (11) 4200-2991
Telefone +55 (11) 3030-3200

BLOG
Design, Audiovisual, Marketing

Writing ebac.txt

Extraia os números de contato do arquivo texto `ebac.txt` e salve-os no arquivo csv `contato_ebac.csv` com o separador `;` no seguinte formato:

```
tipo;numero
whatsapp;+551142002991
telefone;+551130303200
```

**Nota:** Escreva o código da sua solução abaixo em uma ou mais células, você não precisa enviar o arquivo csv gerado.

In [7]:
import re

In [8]:
# solução do exercício 3 (bônus)
with open(file='./ebac.txt', mode='r', encoding='utf8') as arquivo:
  linhas = arquivo.readlines()
  linhas = filter(lambda linha: linha != '\n', linhas)
  linhas = map(lambda linha: linha.lower().strip(), linhas)
  linhas = list(linhas)

linhas

['mídias sociais',
 'instagram, facebook, youtube, linkedin',
 'cursos',
 'software, design, marketing, audiovisual, programação & data, games',
 'webinars',
 'próximos, anteriores',
 'sobre',
 'sobre nós, centro de carreiras, vagas',
 'contato',
 'whatsapp +55 (11) 4200-2991',
 'telefone +55 (11) 3030-3200',
 'blog',
 'design, audiovisual, marketing']

In [9]:
linhas_contatos = filter(lambda linha: '+55' in linha, linhas)
linhas_contatos = list(linhas_contatos)

print(linhas_contatos)

['whatsapp +55 (11) 4200-2991', 'telefone +55 (11) 3030-3200']

In [21]:
linhas_tipos_numeros = []
for linha_tipo_numero in linhas_contatos:
  palavras = linha_tipo_numero.split(sep='+')
  tipo_numero = filter(lambda palavra: '[a-zA-Z0-9_]' in palavra, palavras)
  linhas_tipos_numeros = linhas_tipos_numeros + list(palavras)

linhas_tipos_numeros

['whatsapp ', '55 (11) 4200-2991', 'telefone ', '55 (11) 3030-3200']

In [32]:
tipo = filter(lambda tipo: '55' not in tipo, linhas_tipos_numeros)
tipos = list(tipo)

numero = filter(lambda numero: '55' in numero, linhas_tipos_numeros)
numeros = list(numero)

In [33]:
list_final = pd.DataFrame((zip(tipos, numeros)), columns = ['tipo', 'numero'])

In [43]:
fn = lambda valor: str(valor.replace(" ", "").replace("(", "").replace(")", "").replace("-", ""))

In [45]:
list_final['tipo'] = list_final['tipo'].apply(fn)
list_final['numero'] = list_final['numero'].apply(fn)

In [46]:
list_final

       tipo        numero
0  whatsapp  551142002991
1  telefone  551130303200

In [47]:
list_final.to_csv("./contato_ebac.csv", index=False, sep=';')

---